.logo {
    @apply absolute max-[450px]:left-3 left-9 sm:left-1/2 sm:transform sm:-translate-x-1/2 text-center text-xl sm:text-3xl font-semibold text-black;
}

.contact {
    @apply text-base sm:text-lg font-medium sm:font-semibold ml-auto text-black;
}

.container-1 {
    @apply flex justify-center items-center relative max-[450px]:px-3 px-9 py-5;
}

.dot {
    @apply text-xl sm:text-4xl text-primary;
}

.heading {
    @apply leading-none tracking-normal;
}

.container {
    @apply flex flex-row items-center justify-center;
}

.sub-heading {
    @apply font-medium text-black text-lg mb-6 sm:mb-10;
}