.chat {
    @apply flex-grow-[3] md:flex-grow-[11] lg:flex-grow-[3] flex-shrink basis-0 bg-tertiary h-screen w-full
}

.userDetails {
    @apply flex items-center justify-between h-full w-fit
}


.currentStatus {
    @apply flex items-start justify-between flex-col
}

.sub {
    @apply text-xs font-light text-tertiary
}

.icons {
    @apply flex items-center h-full w-auto
}

.bottom {
    @apply flex items-center justify-between h-16 w-full px-6
}

.inputContainer {
    @apply flex items-center justify-between h-full w-full px-4 gap-3 mb-3
}

.inputEl {
    @apply w-11/12 flex items-center justify-between h-full px-3 bg-quatery rounded-xl focus:outline-none placeholder:text-sm focus:placeholder:text-quatery
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.middle {
    @apply flex flex-1 justify-normal w-full pr-8 pl-4 flex-col h-4/5 overflow-scroll gap-7 py-2 scroll-smooth
}

/* .message {
    @apply flex h-fit w-10/12 sm:w-9/12 md:w-8/12 lg:w-5/12;
} */

.message {
    @apply flex h-fit max-w-fit  sm:w-9/12 md:w-8/12 lg:w-5/12;
}

.texts {
    @apply flex flex-col gap-1 w-full
}

.textContent {
    @apply p-3 rounded-xl bg-quatery text-black flex
}

.own {
    @apply flex self-end;
}