body {
    @apply font-sans;
    background-color: var(--color-tertiary);
    font-family: 'Inter', sans-serif;
    text-align: center;
}


:root {
	--color-primary: #0077b6;
	--color-secondary: #0081a7;
	--color-tertiary: #f4f9ff;
	--color-quatery: #dbebff;
	--color-black: #01161e;
}

.dark {
	--color-primary: #0876a1;
	--color-secondary: #08849a;
	--color-tertiary: #172b35;
	--color-quatery: #273743;
	--color-black: #f4f9ff;
}